body {
  margin: 0;
  padding: 0;
  font-size: 15px;
  line-height: 1.5;
  background-color: black;
}

header {
  color: white;
  background-color: black;
  padding-top: 10px;
  min-height: 70px;
  position: absolute;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header a:hover{
  color: #cccccc;
  font-weight: bold;
}

header nav {
  padding-top: 30px;
  padding-left: 45px;
}

.sect-one {
  background-image: url(https://i.imgur.com/F7rrMOW.jpg);
  height: 100vh;
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
}

#hero {
  position: relative;
  top: 100px;
}

h1 {
  color: white;
  font-size: 300%;
  padding-top: 140px;
  padding-left: 235px;
}

h2 {
  color: white;
  font-size: 200%;
  margin-left:120px;
  width: 400px;
  font-family: Shadows Into Light; 
  text-align: center;
}

h2:hover {
  color: gray;
}

h4 {
  font-size: 40px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 30px;
  text-align: left;
}

.sect-two {
  background-color: white;
  color: black;
  height: 2050px;
  text-align: center;
  padding-top: 20px;
}


p {
  padding-left: 300px;
  padding-right: 300px;
}
.p-describe {
  padding-left: 450px;
  padding-right: 450px;
  padding-bottom: 25px;
}

.blog {
  border: 2px solid black;
}

.projects {
  padding-top: 75px;
}

.project-list {
  text-align: left;
}

.sect-three {
  height: 25px;
}

footer {
  color: white;
  text-align: center;
  padding-bottom: 15px;
}
